<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533893697678-fe5jahtup1ihkvjui7cajqs0lmqnp8s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533893697678-fe5jahtup1ihkvjui7cajqs0lmqnp8s4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>533893697678-qsc4h4aqf8jg7kjhoh33qk3geldh10v3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA35RjQKj_suxzkLIyDn8v3e6xcs9e77BA</string>
	<key>GCM_SENDER_ID</key>
	<string>533893697678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navenu.app</string>
	<key>PROJECT_ID</key>
	<string>solar-sylph-303300</string>
	<key>STORAGE_BUCKET</key>
	<string>solar-sylph-303300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533893697678:ios:2f7c4df3824cb4106979df</string>
	<key>DATABASE_URL</key>
	<string>https://solar-sylph-303300-default-rtdb.firebaseio.com</string>
</dict>
</plist>